* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    overflow: hidden;
}

.header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: azure;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 2rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-nav h4{
    color: #8080c0;
    text-transform: uppercase;
    font-family: fantasy;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
}

.nav-menu-content{
    display: none;
    position: absolute;
    background-color: rgb(222, 205, 205);
    border-radius: 0.5rem;
    min-height: 20rem;
}

.nav-menu-content.active{
    display: block;
}

.nav-menu{
    cursor: pointer;
}

th{
    padding: 0.6rem;
    
}

.btn-vaciar{
    border-radius: 0.5rem;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
    color: black;
    border: 1px solid black;
} 

.btn-vaciar a{
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: 500;
}

.main-title{
    text-align: center;
    color: #8080c0;
    text-transform: uppercase;
    font-family: fantasy;
    font-weight: 300;
}

.main-cards{
    margin: 2rem;
}

.card-stars{
    height: 350%;
    width: 35%;
}

.card-btn{
    border-radius: 2rem;
    text-align: center;
    color: azure;
    text-transform: uppercase;
    font-family: fantasy;
}



.container-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% auto;
    background: black;
    overflow: hidden;
    background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(29, 37, 113, 0.250), rgba(195, 55, 99, 0.250));
    max-width: 100%;
    height: 15rem;
} 

.contenido-hero{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.634);
    
}